.player {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.playerName:hover {
    font-size: 2.2rem;
    transition: font-size 0.1s ease-in-out;
}

.playerName {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
}
.roomCode {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.5;
}
.copyButton {
    background: none;
    box-shadow: none;
}
.copyButton:hover {
    transform: scale(1.1);
    background: none;
    box-shadow: none;
}
.loading { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-button {
    gap: 10px;
    font-size:1.5rem;
    width: 22%;
    padding: 5px;
    display: flex;
    align-items:center;
    text-align: center;
}

.loadingIcon {
    font-size: 1rem;
    color: #ffffff;
    display: inline-block;
    animation: loadingAnimation 1s linear infinite;
}

.profile-pic.playerProfile.flip {
  display: inline-block;
  animation: flip 1s ease-in-out infinite;
  transform-style: preserve-3d; 
}
.profile-pic.playerProfile.wiggle {
  display: inline-block;
  animation: wiggle 1s ease-in-out infinite;
  /* transform-origin: center bottom; /* makes the wiggle feel like a head turning */
}
.profile-pic.playerProfile.jump {
  animation: jump 1.2s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.1s); /* use --i for index */
}

.profile-pic.playerProfile.spin {
  display: inline-block;
  animation: spin 1.5s linear infinite;
  transform-origin: center center;
}