#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
  color: #ffffff;
}
.gameBody {
  background-color: rgba(0, 0, 0, 0.09); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-pic {
  font-size: 2rem;
  flex-shrink: 0;
  user-select: none;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0000001a;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  transition: background-color 0.25s;
  background-color: #00000035; 
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* Animations */
/* loading animation component: RefreshCcw */
@keyframes loadingAnimation {
  0% { transform: rotate(360deg);  }
  100% {transform: rotate(0deg); }
}

.wiggle {
  display: inline-block;
  animation: wiggle 1s ease-in-out infinite;
  /* transform-origin: center bottom; /* makes the wiggle feel like a head turning */
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  20% {
    transform: rotate(6deg);
  }
  30% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.jump {
  animation: jump 1.2s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.1s); /* use --i for index */
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px); /* small jump */
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-14px); /* higher jump */
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg); /* pause before spin */
  }
  50% {
    transform: rotate(360deg); /* quick full spin */
  }
  70% {
    transform: rotate(360deg); /* pause after spin */
  }
  100% {
    transform: rotate(360deg);
  }
}

.flip {
  display: inline-block;
  animation: flip 1s ease-in-out infinite;
  transform-style: preserve-3d; 
}
@keyframes flip {
  0% {
    transform: rotateY(0deg) translateY(0);
  }
  20% {
    transform: rotateY(180deg) translateY(0); /* Flip */
  }
  40% {
    transform: rotateY(180deg) translateY(0); /* Pause */
  }
  60% {
    transform: rotateY(180deg) translateY(-12px); /* Jump peak (earlier) */
  }
  100% {
    transform: rotateY(180deg) translateY(0); /* Land */
  }
}